[submodule "libs/libcore"]
	path = libs/libcore
	url = https://github.com/jemtucker/nightly-libcore.git
[submodule "libs/librustc_unicode"]
	path = libs/librustc_unicode
	url = https://github.com/phil-opp/nightly-librustc_unicode.git
[submodule "libs/liballoc"]
	path = libs/liballoc
	url = https://github.com/phil-opp/nightly-liballoc.git
[submodule "libs/libcollections"]
	path = libs/libcollections
	url = https://github.com/phil-opp/nightly-libcollections.git
